
/* layout */
.ly_header {
    padding-top: 20px;
    padding-bottom: 65px;
}
.bl_header_inner {
    position: absolute;
    width: 100%;
    right: 50%;
    max-width: 1830px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    transform: translate(50%);
    z-index: 101;
}
.bl_header_utils {
    position: absolute;
    left:15px;
    top:-15px;
    padding:10px 0 0;
}

/* bl_header_nav */
.bl_header_nav {
    display: inline-block;
    position:relative;
    left: 50%;
    bottom: 5px;
    text-align: center;
    transform: translate(-50%);
}
.bl_header_gnb {
    display: inline-block;
}
/* 제거할 수 있는지 확인 */
.bl_header_gnb__top {
    vertical-align: top;
}
.bl_header_gnb:last-child 
.bl_header_gnb_link::after {
    content: none;
}
.bl_header_gnb_link {
    display: block;
    position: relative;
    padding: 15px 35px;
    color: #333;
    text-decoration: none;
    font-size: 1.1rem;
    border-bottom: 1px solid transparent;
    transition: .25s;
}
.bl_header_gnb_link::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 20px;
    background-color: #ddd;
    transform: translateY(-50%);
}
.bl_header_gnb_link:hover {
    color: #2d5b79;
    font-weight: bold;
    border-bottom-color: #2d5b79;
}
.bl_header_gnb_link.is_active {
    color: #2d5b79;
    font-weight: bold;
    border-bottom-color: #2d5b79;
}

/* headerSev */
.bl_header_nav_service {
    position: absolute;
    top: 0;
    right: 0;
}
.bl_header_nav_service > li {
    display: block;
    position: relative;
    float: left;
    color: #333;
}
.bl_header_nav_service > li:after {
    content:"";
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 7px;
    background: #ccc;
    transform: translateY(-50%);
}
.bl_header_nav_service > li:first-child::after {
    display: none;
}
.bl_header_nav_service_link {
    display: block;
    padding: 11px 5px;
    color: #333;
    font-size: 0.9rem;
    text-decoration: none;
}

/* bl_header_lnb */
.bl_header_lnb {
    display: none;
    padding: 25px 0;

}
.bl_header_lnb.is_active {
    display: block;
}

.bl_header_lnb_link {
    display: block;
    padding-bottom: 8px;
    color: #fff;
    font-size: 0.9rem;
    text-decoration: none;
}
.bl_header_lnb_link:hover {
    font-weight: bold;
}
.bl_header_lnb_background {
    display: none;
    position: absolute;
    top: 85px;
    width: 100%;
    height: 222px;
    background-color: #2d5b79;
    opacity: 0.9;
    z-index: 101;
}
.bl_header_lnb_background.is_active {
    display: block;
}

/* bl_header_nav_service_mobile */
.bl_header_nav_service_mobile {
    position: absolute;
    top: 0;
    right: 0;
}
.bl_header_nav_service_icon {
    display: none;
    width: 32px;
    height: 32px;
    margin-right: 15px;
    margin-top: 10px;
    color: transparent;
    background: url(../img/menu.png) no-repeat;
}


@media screen and (max-width: 1200px) {
    /* layout */
    .ly_header {
        border: none;
    }

     /* headerNav */
     .bl_header_nav { 
        display: none;
    }

    /* header_nav_service*/
    .bl_header_nav_service {
        display: none;
    }
    .bl_header_nav_service_icon {
        display: inline-block;
    }
        
    /* header_lnb */
    .bl_header_lnb_background.is_active {
        display: none;
    }
}