
/* headerSub */
.bl_headerSub {
    margin: 0 auto;
    border-top: 1px solid #ddd;    
    border-bottom: 1px solid #ddd;
}
.bl_headerSub_inner {
    position: relative;
    max-width: 1230px;
    height: 54px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.bl_headerSubUtils {
    display: inline-block;
    position: absolute;    
    padding: 20px 10px;
}
.bl_headerSubHome_logo {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/home_16x.png) no-repeat;
    color: transparent;
}
.bl_headerSubNav {  
    display: flex;  
    position:absolute;    
    left: 60px;
}
.bl_headerSubNav_item {
    padding-left: 10px;
    vertical-align: middle;
    width: 160px;
    height: 55px;
    border: 1px solid #ddd;
    font-size: 0.9rem;
}
.bl_headerSubNav_link {
    font-size: 0.9rem;
}