/* layer */
.bl_popup_layer {
    /* display: none; */
    position:fixed;
    left:50px;
    top:50px;
    width:700px;
    padding: 15px;
    border:10px solid #2d5b79;
    background: #fff;
    box-sizing: 3px 3px 10px rgba(0,0,0,0.4);
    z-index: 102;
}
.bl_popup_layer.is_active {
    display: none;
}

/* popup */
.bl_popup_ttl {
    font-size: 1.3rem;
    font-weight: bold;
    color: #2d5b79;
    padding: 10px 0;
}
.bl_popup_txt {
    color: #333;
    text-decoration: none;
}
.bl_popup_layer .bl_popup_close {
    position:absolute;
    right:20px;
    top:20px;
    width: 32px;
    height: 32px;
    background: url(../img/close.png) no-repeat;
    padding:1px 6px;
    color:#fff;    
}

/* 글씨 숨기기 */
.el_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}

@media screen and (max-width: 768px) {

    .bl_popup_layer {
        display: none;
    }
}