
/* magazine */
.bl_magazine {
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
    background: #dfd9d1;
}
.bl_magazine_tit {
    padding: 50px 0 16px;
    color: #000;
    text-align: center;
    font-size: 28px;
}
.bl_magazine_txt {
    color: #3a3b36;
    text-align: center;
    font-size: 14px;
}
.bl_magazine_box {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 1200px;
    height: 430px;
    transform: translate(-50%, 0);
}
.bl_magazine_left {
    position: relative;
    float: left;
    overflow: hidden;
    width: 75%;
    height: 100%;
}
.bl_magazine_left_sub {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    padding: 47px 20px 0;
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
}
.bl_magazine_left_tti {
    line-height: 32px;
    color: #fff;
    font-size: 20px;
}
.bl_magazine_left_tti2 {
    display: block;
    font-weight: normal;
}
.bl_magazine_left_txt {
    padding: 9px 0 0;
    line-height: 24px;
    color: #fff;
    text-align: left;
    font-size: 16px;
}
.bl_magazine_left_btn {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 40px;
    width: 160px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    border: 1px solid #fff;
}
.bl_magazine_left_img {
    width: 100%;
    height: 430px;
}
.bl_magazine_right {
    float: right;
    padding: 20px;
    width: 25%;
    height: 100%;
    background: #fff;
    box-sizing: border-box;
}
.bl_magazine_right_box {
    padding: 0 0 20px;
}
.bl_magazine_right_box_link {
    display: table;
    width: 100%;
    text-decoration: none;
}
.bl_magazine_right_sub {
    display: table-cell;
    position: relative;
    padding: 0 0 0 100px;
    height: 82px;
    color: #333;
    font-size: 16px;
    vertical-align: middle;
}
.bl_magazine_right_sub_img {
    position: absolute;
    top: 0;
    left: 0;
}
.bl_magazine_right_sub_txt {
    display: block;
    font-size: 13px;
    color: #000;
}

/* slide2 */
.slide_02 .swiper-pagination_02 {
    position: relative;
    bottom: 90px;
    width: 100%;
    text-align: center;
}
.slide_02 .prev_02 {
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 62px;
    width: 25px;
    height: 47px;
    color: transparent;
    transform: translateY(-50%);
    background: url(../img/icon_left.png) no-repeat;
    z-index: 2;
}
.slide_02 .next_02 {
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 62px;
    width: 25px;
    height: 47px;
    color: transparent;
    transform: translateY(-50%);
    background: url(../img/icon_right.png) no-repeat;
    z-index: 2;
}

/* swiper */
.swiper-container_02 {
    position: relative; 
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    list-style: none;
    z-index: 1;
}
.swiper-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transition-property: transform; 
    box-sizing: content-box; 
    z-index: 1;

}
.swiper-slide {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    height: 100%;
    transition-property: transform;
}


@media screen and (max-width: 1200px) {
    
    /* magzine */
    .bl_magazine {
        width: 100%;
    }
    .bl_magazine_right {
        display: none;
    }
    .bl_magazine_left {
        width: 100%;
    }
    .bl_magazine_box {
        width: 100%;
    }
    .bl_magazine_left_sub {
        display: none;
    }

    /* slide_02 */
    .slide_02 .next_02,
    .slide_02 .prev_02 {
        display: none;
    }
}