
/* media */
.bl_media {
    display: flex;
    max-width: 1230px;    
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}
.bl_media_box { 
    position: relative;
    width: 49%;
    background: #f2f0ed;    
}
.bl_media_ttl {    
    height: 77px;
    line-height: 77px;
    color: #2d5b79;   
    text-align: center;     
    font-size: 24px;
}
.bl_media_ttl__border {
    border-bottom: 1px solid #fff;
}

.bl_media_more {
    position: absolute;
    top: 23px;
    right: 23px;
    width: 30px;
    height: 30px;
    color: transparent;   
    border-radius: 30px;
    background:url(../img/add_24.png) no-repeat 3px 2px #fff;
}

/* media_content */
.bl_media_content {
    
}
.bl_media_content a {
    color: #424242;
    text-decoration: none;
}
.bl_media_content_box {
    width: 100%;
    padding: 35px;
    box-sizing: border-box;
}

/* media_content_02 */
.bl_media_content_02 {
    display: flex;
}
.bl_media_content_02 a {
    color: #424242;
    text-decoration: none;
}
.bl_media_content_box_02 {
    width: 50%;
    padding: 35px;
    box-sizing: border-box;
}
.bl_media_content__border {
    border-left: 1px solid #fff;
}

.bl_media_content_ttl {
    overflow: hidden;
    line-height: 100%;
    text-overflow: ellipsis;
    font-size: 16px;
    white-space: nowrap;
}
.bl_media_content_date {
    padding: 22px 0 16px;
    color: #979797;
    font-size: 12px;
}
.bl_media_content_txt {
    font-size: 16px;
}


@media screen and (max-width: 768px) {
    
    /* bl_media */
    .bl_media {
       display: block; 
    }

    .bl_media_box {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }

}