/* enviroment */
.bl_enviroment {
    width: 1230px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}
.bl_enviroment_box {
    display: flex;
}
.bl_enviroment_item {
    display: flex;
    padding: 30px 0;
}
.bl_enviroment_ttl {
    display: inline-block;
    width: 15%;
    height: 50px;
    line-height: 50px;
    font-size: 1rem;
    font-weight: bold;
    color: #2d5b79;
}
.bl_enviroment_txt {
    width: 100%;
    height: 50px;
    font-size: 2rem;
    font-weight: bold;
}
.bl_enviroment_basic {
    display: flex;
    width: 100%;
}
.bl_guideline_txt {
    padding: 20px;
    border: 2px solid;
    border-radius: 40px;
    font-size: 1.2rem;
    text-align: center;
    color: #2d5b79;
}

/* basic_item */
.bl_basic_item {
    flex: 1;
    padding: 40px;
    border: 2px solid;
    border-radius: 84px;
    font-size: 1rem;
}
.bl_basic_item:nth-child(1) {
    color: rgb(27, 61, 173);
}
.bl_basic_item:nth-child(2) {
    color: rgb(81, 137, 184);
}
.bl_basic_item:nth-child(3) {
    color: rgb(53, 143, 65);
}

/* enviroment_guideline */
.bl_enviroment_guideline {
    display: flex;
}

.bl_guideline_item {
    flex: 1;
    padding: 40px;
    margin: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    background: #f4f4f4;
}
.bl_guideline_item > p {
    padding-bottom: 10px;
    font-size: 1.3rem;
    color: #2d5b79;
}

.bl_guideline_box {
    width: 100%;
}

/* enviroment_introduce */
.bl_enviroment_introduce_box {
    display: flex;
    text-align: center;
}
.bl_introduce_item {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
}
.bl_introduce_item.is_active {
    border-color: #2d5b79;
    font-weight: bold;
    color: #fff;
    background: #2d5b79;
}

/* enviroment_introduce */
.bl_enviroment_introduce_content {
    display: none;
    padding: 20px 0;
}
.bl_enviroment_introduce_content.is_active{
    display: inline-block;
    padding: 20px 0;
}
.bl_enviroment_introduce_content > img {
    display: block;
    margin: 0 auto;
}

/* introduce */
.bl_introduce_ttl {
    padding: 15px;
    margin-top: 60px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    background: #2d5b79;
}
.bl_introduce_ttl > p {
    width: 1000px;
    margin: 0 auto;
}
.bl_introduce_ttl > h3 {
    width: 1000px;
    position: relative;
    margin: 0 auto;
}
.bl_introduce_txt {
    position: relative;
    width: 1000px;
    padding: 15px 0;
    margin: 0 auto;
    font-size: 1rem;
}

/* enviroment_certification */ 
.bl_enviroment_certification_content {
    display: none;
}
.bl_enviroment_certification_content.is_active {
    display: inline-block;
    padding: 15px 0;
}

/* certification */
.bl_certification_item {
    width: 1200px;
}
.bl_certification_item.is_background {
    background: #f2f0ed;
}
.bl_certification_box {
    display: flex;
    position: relative;
    width: 840px;
    padding: 15px 0;
    margin: 0 auto;
    align-items: center;
}
.bl_certification_item > img {
    flex: 1;
}
.bl_certification_txt {
    flex: 4;
    padding: 30px;
    font-size: 1rem;
}

/* enviroment */
.bl_enviroment_product_content {
    display: none;
}
.bl_enviroment_product_content.is_active {
    display: inline-block;
    padding: 15px 0;
}

/* product */
.bl_product_box {
    display: flex;
    width: 1200px;
}
.bl_product_item {
    flex: 1;
    padding: 15px 0;
}
.bl_product_ttl {
    font-size: 1.3rem;
    color: #2d5b79;
    font-weight: bold;
    margin: 0 10px;
}
.bl_product_image_box {
    background: #f4f4f4;
    padding: 15px;
    margin: 0 10px;
}
.bl_product_image_box > img {
    display: block;
    height: 160px;
    margin: 0 auto;
}
.bl_product_txt {
    margin: 10px 10px;
    font-size: 1rem;
}
.bl_product_txt > span {
    font-weight: bold;
}