
/* jumbotron */
.bl_jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.bl_jumbotron_inner {
    height: 700px;
    background: url(../../img/bg_comp0101.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}
.bl_jumbotron_box {
    position: relative;
    max-width: 1230px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}
.bl_jumbotron_txt {
    position: relative;
    top: 40%;
    width: 100%;
    color: #fff;
    text-align: center;
}
.bl_jumbotron_txt > h2 {
    padding: 15px 0;
    font-size: 2rem;
    font-weight: bold;
}
.bl_jumbotron_txt > span {
    font-size: 1.1rem;
}



@media screen and (max-width: 768px) {

    .bl_jumbotron_inner {
        height: 500px;
    }

    .bl_jumbotron_txt {
        top: 70%
    }    

}