
/* gallery */
.gallery-top-wrapper {
    max-width: 1230px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.gallery-top-utils {
    margin: 45px;
    text-align: center;
}
.gallery-top-ttl {
    margin: 10px 0;
    color: #2d5b79;
    font-size: 2rem;
    font-weight: bold;
}
.gallery-top-content {
    display: flex;
    justify-content: space-between;
}
.gallery-top-total {
    display: flex;
    padding-top: 41px;
    font-size: 0.9rem;
}
.gallery-total-txt {
    color: #333;
    font-size: 0.9rem;
}

.gallery-insert-order-link,
.gallery-ttl-order-link {
    margin-left: 20px;
    text-decoration:none;
}
.gallery-insert-order-link {
    color: #2d5b79;
}
.gallery-ttl-order-link {
    position: relative;
    color: #a3a3a3;
}
.gallery-ttl-order-link::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    height: 10px;
    border: 1px solid #ddd;
    background-color: #ddd;
    transform: translateY(-50%);
}

.gallery-top-search {
    display: flex;
    padding: 10px;
    border: 1px solid #2d5b79;
}
.gallery-search-list {
    padding: 0 15px;
    font-size: 0.8rem;    
    border: none;
}
.gallery-search-txt {
    height: 40px;
    padding: 0 15px;
    border: none;
    font-size: 0.8rem;   
}
.gallery-search-btn {
    padding-right: 15px;
    margin: auto; 
}


@media screen and (max-width: 768px) {
    .gallery-top-search {
        display: none;
    }
}
