
/* pager-model-wrapper*/
.pager-model-wrapper {
    max-width: 1230px;
    margin-right: auto;
    margin-left: auto;
    padding: 55px 15px;
}

.pager-model-content {
    display: flex;
    overflow-x: auto;
}
.pager-model-list {
    display:flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}
.pager-model-list > *:last-child {
    margin-right: 0;
}
.pager-model-list > li {
    margin-right: 15px;
}
.pager-model-link {
    display: flex;
    width: 40px;
    height: 40px;
    color: #2d5b79;
    text-decoration: none;
    border: 1px solid currentColor;
    border-color: #ddd;
    align-items: center;
    justify-content: center;
    transition: .25s;
}
.pager-model-link:focus,
.pager-model-link:hover {
    color: #2d5b79;
    background-color: #ddd;
    opacity: .75;
}
.pager-model-link.is_active {
    color: #2d5b79;
    background-color: #ddd;
    pointer-events: none;
}