
/* gallery */
.bl_agency_header {
    max-width: 1230px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bl_agency_header_unit {
    margin: 45px;
    text-align: center;
}
.bl_agency_header_ttl {
    margin: 10px 0;
    color: #2d5b79;
    font-size: 2rem;
    font-weight: bold;
}
.bl_agency_inner {
    width: 100%;
    background: #f2f0ed;
}

.bl_agency_header_box {
    display: flex;
    width: 70%;
    padding: 30px;
    justify-content: space-between;
}

.bl_agency_search {
    flex: 2;
    padding: 10px;
    margin: 0 15px;
    border: 1px solid #2d5b79;
    background: #fff;
}
.bl_agency_search_content {
    flex: 1;
    padding-left: 10px;
    margin: 0 15px;
    font-size: 0.8rem;    
    border: none;
}
.bl_agency_search_txt {
    width: 80%;
    height: 40px;
    padding: 0 15px;
    /* padding: 0 15px; */
    border: none;
    font-size: 0.8rem;   
}
.bl_agency_search_btn {
    width: 10%;
    /* padding-right: 15px; */
    margin: auto; 
}

.bl_agency_search_btn > img {
    vertical-align: middle;
}



@media screen and (max-width: 1000px) {

    .bl_agency_header_box {
        width: 100%;
    }

}