
/* agency */
.agency-model-wrapper {
    max-width: 1230px;
    padding: 20px 15px;
    margin-right: auto;
    margin-left: auto;
    z-index: 99;
}
.agency-model-container {
    display: flex;
    position: relative;
    left: 50%;
    width: 100%;
    justify-content: center;
    transform: translateX(-50%);
}
.agency-model-txt {
    position: absolute;
    left: 0;
    font-size: 0.8rem;    
}

/* agency_list */
.agency-model-content {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.agency-model-content:before {
    content: "";
    display: block;
    width: 95%;
    margin: 0 auto;
    border-top: 3px solid #2d5b79;
}

.agency-model-list {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.agency-model-list:after {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 15px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
}

.agency-model-item-ttl {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.1rem;
}
.agency-model-item-addr {
    padding-top: 5px;
}
.agency-model-item-tel {
    padding-bottom: 5px;
}

/* product_list */
.agency-model-prd-list {
    display: flex;
    position: relative;
    color: #929292;
    font-size: 0.8rem;
}

.agency-model-prd-list > li {
    padding-right: 10px;
}

.is_bold {
    font-weight: bold;
}

/* agency_map */
.agency-model-map {
    width: 50%;
    height: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* kakao_map */
.agency-mep {
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 760px) {

    .agency-model-content {
        display: none;
    }

    .agency-model-txt {
        display: none;
    }

    .agency-model-map {
        width: 100%;
    }
}