
/* gallery */
.agency-top-wrapper {
    max-width: 1230px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.agency-top-utils {
    margin: 45px;
    text-align: center;
}
.agency-top-ttl {
    margin: 10px 0;
    color: #2d5b79;
    font-size: 2rem;
    font-weight: bold;
}
.agency-top-content {
    width: 100%;
    background: #f2f0ed;
}

.agency-top-box {
    display: flex;
    width: 70%;
    padding: 30px;
    justify-content: space-between;
}

.agency-top-search-utils {
    flex: 2;
    padding: 10px;
    margin: 0 15px;
    border: 1px solid #2d5b79;
    background: #fff;
}
.agency-top-search-list {
    flex: 1;
    padding-left: 10px;
    margin: 0 15px;
    font-size: 0.8rem;    
    border: none;
}
.agency-top-search__input {
    width: 80%;
    height: 40px;
    padding: 0 15px;
    /* padding: 0 15px; */
    border: none;
    font-size: 0.8rem;   
}
.agency-top-search-btn {
    width: 10%;
    /* padding-right: 15px; */
    margin: auto; 
}

.agency-top-search-btn > img {
    vertical-align: middle;
}



@media screen and (max-width: 1200px) {

    .agency-top-box {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    
    .agency-top-box {
        margin: 0;
    }

    .agency-top-search-utils {
        display: none;
    }

    .agency-top-search-list {
        height: 50px;
    }
    
}